.iphone13and14-3 {
    position: absolute;
    background-color: #ffffff;
    height: 844px;
    width: 390px;
    padding: 0;
  }
  
  .settings, .favorites, .resources, .home {
    color: #3f4545;
    text-align: left;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    position: absolute;
    border-style: hidden;
    outline: none;
  }
  
  .settings {
    left: 297px;
    top: 821px;
    width: 47px;
  }
  
  .favorites {
    left: 124px;
    top: 821px;
    width: 53px;
  }
  
  .resources {
    left: 205px;
    top: 821px;
    width: 60px;
  }
  
  .home {
    left: 45px;
    top: 821px;
    width: 34px;
  }
  
  .line55 {
    width: 391px;
    border: 0.25px solid #404646;
    top: 780px;
    left: -1px;
    position: absolute;
  }
  
  .ellipse20, .ellipse21, .ellipse22, .ellipse23 {
    background-color: #404646;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
  }
  
  .ellipse20 {
    top: 789px;
    left: 306px;
  }
  
  .ellipse21 {
    top: 789px;
    left: 135px;
  }
  
  .ellipse22 {
    top: 789px;
    left: 220px;
  }
  
  .ellipse23 {
    top: 789px;
    left: 47px;
  }
  
  .icon, .icon2, .icon3, .icon4 {
    position: absolute;
  }
  
  .icon {
    background-color: #d9d9d9;
    height: 20px;
    width: 20px;
    left: 1.94px;
    top: 1.99px;
  }
  
  .icon2 {
    height: 16.67px;
    width: 15px;
    left: 2.5px;
    top: 1.66px;
  }
  
  .icon3 {
    height: 15px;
    width: 11.67px;
    left: 4.16px;
    top: 2.5px;
  }
  
  .icon4 {
    height: 16.67px;
    width: 13.33px;
    left: 3.33px;
    top: 1.66px;
  }
  
  .settings2, .home2, .bookmark, .book2 {
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    position: absolute;
    padding: 0;
    border-style: hidden;
    outline: none;
  }
  
  .settings2 {
    left: 309px;
    top: 792px;
  }
  
  .home2 {
    left: 52px;
    top: 794px;
  }
  
  .bookmark {
    left: 140px;
    top: 794px;
  }
  
  .book2 {
    left: 225px;
    top: 794px;
  }
  
  .favorites2 {
    color: #3f4545;
    text-align: left;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 142px;
    top: 75px;
    width: 105px;
    height: 29px;
  }
  
  .rectangle42, .rectangle43, .rectangle44, .rectangle45, .rectangle46 {
    background-color: #ffffff;
    position: absolute;
  }
  
  .rectangle42 {
    height: 115px;
    width: 315px;
    left: 37px;
    top: 176px;
  }
  
  .rectangle43 {
    height: 115px;
    width: 315px;
    left: 37px;
    top: 307px;
  }
  
  .rectangle44 {
    height: 69px;
    width: 315px;
    left: 37px;
    top: 510px;
  }
  
  .rectangle45 {
    height: 69px;
    width: 315px;
    left: 37px;
    top: 597px;
  }
  
  .rectangle46 {
    height: 69px;
    width: 315px;
    left: 36px;
    top: 684px;
  }
  
  .home3, .cedarbirdtrailmurphy, .mother, .father, .sibling, .college, .northavenuenwatlanta, .momNumber, .dadNumber, .homeNumber {
    color: #404646;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    position: absolute;
  }
  
  .home3 {
    left: 57px;
    top: 197px;
    width: 46px;
  }
  
  .cedarbirdtrailmurphy {
    left: 57px;
    top: 224px;
    width: 164px;
    height: 38px;
  }
  
  .mother {
    left: 57px;
    top: 521px;
    width: 57px;
  }
  
  .momNumber {
    left: 57px;
    top: 548px;
    width: 127px;
  }
  
  .father {
    left: 57px;
    top: 608px;
    width: 52px;
  }
  
  .dadNumber {
    left: 57px;
    top: 635px;
    width: 129px;
  }
  
  .sibling {
    left: 56px;
    top: 695px;
    width: 54px;
  }
  
  .homeNumber {
    left: 56px;
    top: 722px;
    width: 130px;
  }
  
  .college {
    left: 57px;
    top: 328px;
    width: 60px;
  }
  
  .northavenuenwatlanta {
    left: 57px;
    top: 355px;
    width: 167px;
    height: 38px;
  }
  
  .rectangle422, .rectangle423 {
    background-color: #3f7c85;
    position: absolute;
    height: 28px;
    width: 390px;
  }
  
  .rectangle422 {
    top: 126px;
    left: 0;
  }
  
  .rectangle423 {
    top: 456px;
    left: 0;
  }
  
  .savedlocations, .emergencycontacts {
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    position: absolute;
  }
  
  .savedlocations {
    left: 35px;
    top: 131px;
    width: 125px;
  }
  
  .emergencycontacts {
    left: 35px;
    top: 461px;
    width: 158px;
  }  