.iphone13-14-1 {
    position: absolute;
    background-color: #ffffff;
    height: 844px;
    width: 390px;
    padding: 0px;
}

.screenshot {
    height: 598px;
    width: 390px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.rectangle6 {
    background-color: #ffffff;
    height: 265px;
    width: 390px;
    border-radius: 20px;
    border: 1px solid #404646;
    position: absolute;
    top: 598px;
    left: 0px;
}

.color-33 {
    color: #c32d2d;
    text-align: left;
    font-size: 16px;
    font-family: Inter;
    position: absolute;
    left: 177px;
    top: 673px;
    width: 21px;
}

.color-43 {
    color: #47c133;
    text-align: left;
    font-size: 16px;
    font-family: Inter;
    position: absolute;
    left: 177px;
    top: 705px;
    width: 18px;
    height: 19px;
}

.color-62 {
    color: #fa7800;
    text-align: left;
    font-size: 16px;
    font-family: Inter;
    position: absolute;
    left: 177px;
    top: 737px;
    width: 20px;
    height: 19px;
}

.rectangle8 {
    background-color: #ffffff;
    height: 32px;
    width: 337px;
    position: absolute;
    left: 27px;
    top: 87px;
}

.rectangle7 {
    background-color: #d9d9d9;
    height: 5px;
    width: 62px;
    position: absolute;
    top: 617px;
    left: 164px;
}

.text-people {
    color: #3f4545;
    font-size: 24px;
    font-family: Inter;
    position: absolute;
    left: 20px;
    top: 625px;
    width: 78px;
}

.kripa-kannan {
    color: #3f4545;
    font-size: 16px;
    font-family: Inter;
    position: absolute;
    left: 52px;
    top: 673px;
    width: 100px;
}

.ellipse1,
.ellipse2,
.ellipse3 {
    background-color: #d9d9d9;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
}

.ellipse1 {
    top: 673px;
    left: 22px;
}

.ellipse2 {
    top: 704px;
    left: 22px;
}

.ellipse3 {
    top: 735px;
    left: 22px;
}

/* Ellipse for larger circles */
.ellipse4,
.ellipse7,
.ellipse10,
.ellipse13,
.ellipse14 {
    background-color: #404646;
    border-radius: 50%;
}

.ellipse4 {
    height: 30px;
    width: 30px;
    top: 791px;
    left: 307px;
}

/* Similar modifications for .ellipse7, .ellipse10, etc. */

/* Other text elements */
.search-here {
    color: #404646;
    font-size: 16px;
    font-family: Inter;
    position: absolute;
    left: 73px;
    top: 94px;
    width: 178px;
    height: 18px;
}

.settings2 {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 310px;
    top: 794px;
}