.iphone13-14-2 {
    position: absolute;
    background-color: #ffffff;
    height: 844px;
    width: 390px;
    padding: 0;
  }
  
  .settings {
    color: #3f4545;
    text-align: left;
    font-size: 24px;
    font-family: Inter;
    position: absolute;
    left: 148px;
    top: 68px;
    width: 94px;
  }
  
  .rectangle9, .rectangle11 {
    background-color: #3f7c85;
    height: 28px;
    width: 390px;
    position: absolute;
  }
  
  .rectangle9 {
    top: 127px;
  }
  
  .rectangle11 {
    top: 381px;
  }
  
  .navigation, .account, .account2 {
    text-align: left;
    font-size: 16px;
    font-family: Inter;
    position: absolute;
    width: 81px;
    height: 19px;
    line-height: 1.5;
  }
  
  .navigation {
    color: #ffffff;
    left: 35px;
    top: 132px;
  }
  
  .account {
    color: #3f4545;
    left: 35px;
    top: 386px;
  }
  
  .account2 {
    color: #ffffff;
    left: 35px;
    top: 386px;
  }
  
  /* Common styles for rectangles with white backgrounds */
  .rectangle {
    background-color: #ffffff;
    height: 32px;
    width: 346px;
    position: absolute;
    left: 22px;
  }
  
  /* Consolidated line styles */
  .line {
    border: 1px solid;
    position: absolute;
    transform: rotate(-34deg);
  }
  
  .line-right {
    transform: rotate(30deg);
  }
  
  .line9, .line19, .line21, .line23, .line25, .line27, .line29, .line31, 
  .line39, .line41, .line43, .line45 {
    top: 178px; /* Adjust accordingly based on layout */
    left: 345px;
  }
  
  /* Text classes */
  .preferences, .appearance&display, .savedlocations, 
  .offlinemaps, .credentials, .privacy, .accessibility&language, 
  .two-factorauthentication, .help&support, .subscription&billing, 
  .accountactivity {
    color: #404646;
    text-align: left;
    font-size: 16px;
    font-family: Inter;
    position: absolute;
    line-height: 1.5;
    border: none;
  }  